/*UNIVERSAL STYLES*/

body {
  background: #f1ed35;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  overflow: scroll;
}


h1 {
  font-weight: 700;
  font-size: 70px;
  display: inline-block;
  text-align: center;

}

h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 50px;
  display: inline-block;
  text-decoration: underline;
  color: #fe3333;

}

h3 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.content {
  margin: 20px 10px;
  border: solid black 7.5px;
  padding: 0 15px;
  height: fit-content;
}

.out-border {
  background-color: white;
  padding: 5px;
  margin: 20px 10px;
  transform: rotate(0.01turn);
  width: 90%;
  height: fit-content;
}

#top {
  text-align: center;
}

/*MAD LIB FORM*/

ol li {
  margin-bottom: 5%;
  margin-left: 2.5%;
  font-weight: bold;
}

img {
  position: absolute;
  margin-bottom: 0;
  height: 400px;
  right: 0;
  bottom: 0;
  transform: rotate(-0.035turn);
}

input[type='text'],
input[type='number'] {
  min-height: 25px;
  width: clamp(20%, 40%, 60%);
  border-radius: 5px;
  border: 1px solid #cccccc;
  color: #fe3333;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 10px;
}

input[type='radio'] {
  margin-left: 12px;
}

input[type='submit'] {
  background-color: #000;
  border-radius: 15px;
  min-height: 25px;
  margin: 10px auto;
  color: #fff;
  font-weight: bold;
}

input[type='submit']:hover {
  background-color: #fe3333;
  cursor: pointer;
  margin-left: 2.5%;
}


/* STORY (ORIGINAL & COMPLETED LIB) */

p {
  line-height: 1.5;
  font-size: 18px;
}

.word {
  color: #fe3333;
  font-weight: bold;
  font-size: 20px;
}


a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: #fe3333;
}

.links {
  margin: 10px auto;
  width: 100%;
}

/*@media only screen and (min-width: 320px) and (max-width: 1024px) {
  img {
    display: none;
  }
}
