/*UNIVERSAL STYLES*/

html {
  font-size: 62.5%;
}
body {
  background: #F1ED35;
  font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  overflow: scroll;
}



/*-- UNIVERSAL: HEADINGS --*/
h1 {
  font-weight: 700;
  font-size: 7rem;
  display: inline-block;
  text-align: center;
}
h2 {
  font-family: 'Londrina Shadow', cursive;
  font-size: 5rem;
  display: inline-block;
  text-decoration: underline;
  color: #FE3333;

}
h3 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 3rem;
}


/*-- UNIVERSAL: CONTAINER --*/
.content {
  margin: 2rem 1rem;
  border: solid #000 .75rem;
  padding: 0 1.5rem;
  height: fit-content;
}

.outside-border {
  background-color: #FFF;
  padding: .5rem;
  margin: 2rem 1rem;
  transform: rotate(0.01turn);
  width: 90%;
  height: fit-content;
}

#top {
  text-align: center;
  border-bottom: .1rem solid grey;  
}



/*MAD LIB FORM*/

ol li {
  margin-bottom: 5%;
  margin-left: 2.5%;
  font-weight: 700;
}

li label, li span {
  font-size: 1.8rem;
}

img {
  position: absolute;
  margin-bottom: 0;
  height: 40rem;
  right: 0;
  bottom: 0;
  transform: rotate(-0.035turn);
}

input[type='text'],
input[type='number'] {
  min-height: 2.5rem;
  width: clamp(20%, 40%, 60%);
  border-radius: .5rem;
  border: .1rem solid #CCC;
  color: #FE3333;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 1rem;
}

input[type='radio'] {
  margin-left: 1.2rem;
}

input[type='submit'] {
  background-color: #000;
  border-radius: 1.5rem;
  min-height: 2.5rem;
  margin: 1rem auto;
  color: #FFF;
  font-weight: 700;
}

input[type='submit']:hover {
  background-color: #FE3333;
  cursor: pointer;
  margin-left: 2.5%;
}


/* STORY (ORIGINAL & COMPLETED LIB) */

a {
  color: #000;
  font-weight: bold;
}

a:hover {
  color: #FE3333;
}
article {
  padding: 0 10%;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
}

.links {
  margin: 1rem auto;
  width: 100%;
}

.word {
  color: #FE3333;
  font-weight: 700;
  font-size: 2rem;
}




/*@media only screen and (min-width: 320px) and (max-width: 1024px) {
  img {
    display: none;
  }
}*/
